/* цвет основного текста #000000 */
/* цвет описания color: rgba(0, 0, 0, 0.8); */
/* белый цвет #ffffff */
/* синий цвет акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */
:root {
  --primary-text-colour: rgba(0, 0, 0, 0.8);
  --title-text-colour: #000000;
  --acent-colour: #18a0fb;
  --background-colour: #ffffff;
  --secondary-background-colour: #f5f5f5;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  background-color: var(--background-colour);
  outline: 2px solid tomato;
  padding-left: 20px;
  padding-right: 20px;
}
/* Logo */
.logo {
  color: var(--title-text-colour);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--acent-colour);
}

/* site nav */
.site-nav .link {
  color: var(--acent-colour);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2x;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-colour);
}

.site-nav .link.current {
  color: var(--title-text-colour);
}

.section-title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 60;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-bottom: 0;
  padding-top: 0;
}
.section-descr {
  font-size: 36px;
  line-height: 1.39;
  margin-bottom: 80px;
  margin-top: 0;
}

/* hero  */
.hero {
  text-align: center;
}
.hero-title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* Featuers list */
.features-list .title,
.examples-list .title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 32px;
}
.features-list .link {
  color: var(--acent-colour);
}

/* WORKS */
.examples-list .item {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--background-colour);
}
.examples-list .item:nth-child(2n) {
  background-color: var(--secondary-background-colour);
}
/* Examples list */
/* .examples-list .title {
  color: var(--title-text-colour);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
} */

/* Button */

.button {
  color: var(--title-text-colour);
  background-color: var(--background-colour);
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  display: inline-block;
  min-width: 130px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  color: var(--background-colour);
  background-color: var(--acent-colour);
}

.button.secondary {
  color: var(--acent-colour);
  background-color: var(--background-colour);
  border-color: var(--acent-colour);
}
