/* цвет основного текста #000000 */
/* цвет описания color: rgba(0, 0, 0, 0.8); */
/* белый цвет #ffffff */
/* синий цвет акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */
:root {
  --primary-text-colour: rgba(0, 0, 0, 0.8);
  --title-text-colour: #000000;
  --acent-colour: #18a0fb;
  --background-colour: #ffffff;
  --secondary-background-colour: #f5f5f5;
}

body {
  background-color: var(--background-colour);
  color: var(--primary-text-colour);
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}

/* Утилиты */
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  background-color: var(--background-colour);
  outline: 2px solid tomato;
  padding-left: 20px;
  padding-right: 20px;
}
/* Logo */
.logo {
  color: var(--title-text-colour);
  font-family: Comfortaa, cursive;

  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover {
  color: var(--acent-colour);
}

/* Main nav */
.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */
.site-nav {
  display: flex;
  margin-left: 70px;
}

/* .site-nav .item {
  background-color: tomato;
} */

.site-nav .item + .item {
  margin-left: 40px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  color: var(--acent-colour);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2x;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-colour);
}

.site-nav .link.current {
  color: var(--title-text-colour);
}

/* Auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 12px;
}

.section-title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 60;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-bottom: 0;
  padding-top: 0;
}
.section-descr {
  font-size: 36px;
  line-height: 1.39;
  margin-bottom: 80px;
  margin-top: 0;
  text-align: center;
}

/* Отзывы */
.client-list {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  margin: -30px -40px;
  margin-left: auto;
  margin-right: auto;
}

.client-list li {
  margin: 30px 40px;
}

/* hero  */
.hero {
  text-align: center;
}
.hero-title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
}

/* Featuers list */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}
.features-list .item {
  width: 625px;
  /* background-color: tomato; */
  margin: 40px 75px;
}

.features-list .title,
.examples-list .title {
  color: var(--title-text-colour);
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 32px;
}
.features-list .link {
  color: var(--acent-colour);
}

/* WORKS */
.examples-list .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--background-colour);
}
.examples-list .item:nth-child(2n) {
  background-color: var(--secondary-background-colour);
  flex-direction: row-reverse;
}
.examples-list > .item:nth-child(2n + 1) .content {
  margin-left: 84px;
}
.examples-list > .item:nth-child(2n) .content {
  margin-right: 84px;
}

/* Examples list */
/* .examples-list .title {
  color: var(--title-text-colour);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
} */

/* Button */

.button {
  color: var(--title-text-colour);
  background-color: var(--background-colour);
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  display: inline-block;
  min-width: 130px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}

.button.primary {
  display: inline-block;
  color: var(--background-colour);
  background-color: var(--acent-colour);
}

.button.secondary {
  color: var(--acent-colour);
  background-color: var(--background-colour);
  border-color: var(--acent-colour);
}

.subscription {
  height: 340px;
  display: flex;
  align-items: center;
}
.subscription .section-descr {
  margin-bottom: 0;
  height: 100px;
  width: 943px;

  /* margin-right: 84px; */
  text-align: left;
}
.subscription .bottom {
  width: 192px;
}

.subscription .bottom + .bottom {
  margin-left: 45px;
}
